# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"


alias rmd='rm -r'
alias copy='function(){cat $@ | pbcopy}'

# List all files colorized in long format, including dot files
alias la="ls -laF -G"

# List only directories
alias lsd="ls -lF -G | grep --color=never '^d'"

# Always use color output for `ls`
alias ls='command ls -G'
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Helpers
alias grep='grep --color=auto' # Always highlight grep search term
alias ping='ping -c 5'      # Pings with 5 packets, not unlimited
alias df='df -h'            # Disk free, in gigabytes, not bytes
alias du='du -h -c'         # Calculate total disk usage for a folder

# IP addresses
alias ip='dig +short myip.opendns.com @resolver1.opendns.com'
alias localip='ipconfig getifaddr en0 && ipconfig getifaddr en0 | pbcopy'
alias ips='ifconfig -a | grep -o "inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)" | awk "{ sub(/inet6? (addr:)? ?/, \"\"); print }"'

# Show/hide hidden files in Finder
alias show='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'
alias hide='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
alias showdesktop='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu='osascript -e "set volume output muted true"'
alias pumpitup='osascript -e "set volume 7"'

# Lock the screen (when going AFK)
alias afk='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'

# vagrant
alias vu='cd ~/multibasebox/; vagrant up; cd -'

# Fabric
alias mbb='fab config:mbb'
alias copyssh='fab config:mbb docker:copySSHKeys'
alias drush='function() {fab config:mbb drush:"$@";}'
alias den='function() {fab config:mbb drush:"en $@ -y"}'
alias finstall='fab config:mbb install'
alias fcc='fab config:mbb drush:"cc all"'
alias fcr='fab config:mbb drush:"cr"'
alias fct='fab config:mbb drush:"cc theme-registry"'
alias frun='fab config:mbb docker:run'
alias fstop='fab config:mbb docker:stop'
alias fres='fab config:mbb reset'
alias flog='fab config:mbb docker:logs'
alias fcopy='function() {fab config:mbb copyFrom:"$@";}'
alias fcopyfiles='function() {fab config:mbb copyFilesFrom:"$@";}'
alias fcopydb='function() {fab config:mbb copyDBFrom:"$@";}'
alias fdpl='function() {fab config:"$@" deploy;}'
alias flocal='function() { open "http://$(fab config:mbb getProperty:host |tail -1)"}'
alias fshare='fab config:mbb docker:startRemoteAccess'
alias fd='function() {fab config:mbb drush:fd;}'
alias fu='function() {fab config:mbb drush:"fu $@ -y";}'
alias fu8='function() {fab config:mbb drush:"config-export staging -y";}'

alias docker=docker
alias dc='docker-compose'
alias dcu='docker-compose up'
alias dcd='docker-compose down'
alias dcr='docker-compose down && docker-compose up'

# git
# https://hub.github.com/
alias git=hub

alias g='git'
alias gc='git commit -m'
alias s='git s'
alias sf='git sf'
alias a='git a'
alias p='git p'
alias pt='git pt'
alias l='git l'
alias b='git b'
alias r='git r'
alias stash='git stash'
alias pop='git stash pop'
alias gf='git flow'
alias gff='git flow feature'
alias gfh='git flow hotfix'
alias gfr='git flow release'

# github flow
alias ghf='function() {git branch feature/$@ && git checkout -q feature/$@;}'
alias ghh='function() {git branch hotfix/$@ && git checkout -q hotfix/$@;}'

alias cz='git cz'
alias cleanbranches='git branch --merged | egrep -v "(^\*|master|dev)" | xargs git branch -d'

#npm

alias nlv='function() {npm view "$@"@* version;}'

# QR
alias qr='function() {qrcode-terminal "$@"; echo "$@";}'
alias fqr='function() {qrcode-terminal http://$(hostname):8888/"$@"; echo http://$(hostname):8888/"$@";}'

# VLC
alias vlc='/Applications/VLC.app/Contents/MacOS/VLC'

# open aliases
alias oa='code ~/.aliases'
alias og='code ~/.gitconfig'
alias sa='source ~/.zshrc'

# middleman
alias mb='bundle exec middleman build'
alias ms='bundle exec middleman server -p 4242'

# browsersync
alias bswp='function() {source ~/.aliases && browser-sync start --proxy "$(fab config:mbb getProperty:host |tail -1)" --files "wp-content/themes/$@/build/*.css" --reload-delay "50";}'

# wakeonlan
# if not installed: brew install wakeonlan
alias wblob='wakeonlan 00:25:22:03:D1:21'

# sourcetree
alias stree='open -a SourceTree "$(git rev-parse --show-toplevel)"'
alias sourcetree='stree'

alias t='z'

alias fritz='function() { open http://fritz.box/; }'

# backstop.js
alias bs_ref='backstop reference --configPath=config/backstop.js'
alias bs_test='backstop test --configPath=config/backstop.js --readyEvent=backstopjs_ready'
alias bs_open='backstop openReport --configPath=config/backstop.js'

# weinre
alias localweinre='weinre --boundHost -all- --httpPort 4242'

# android
alias android='~/Library/Android/sdk/tools/emulator -netdelay none -netspeed full -avd 320x480-jelly-4_1'
