[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/plugins/zsh-completions"]
	path = .oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".oh-my-zsh/custom/plugins/zsh-history-substring-search"]
	path = .oh-my-zsh/custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
